[submodule "third_party/flutter"]
	path = third_party/flutter
	url = git@github.com:flutter/flutter.git
[submodule "third_party/flutter_gallery"]
	path = third_party/flutter_gallery
	url = git@github.com:jiahaog/flutter_gallery
